/* Lexend Exa & Geologica Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lexend+Exa:wght@100..900&display=swap');

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: .2s all; */
}
body {
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  font-size: 14px;
  min-height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
h1,h2,h3,h4,h5,h6,span {
  font-family: 'Lexend Exa', sans-serif;
}
p,button {
  font-family: 'Geologica', sans-serif;
}
@media (min-width:768px) {
  body {
    font-size: 16px;
  }
}